/**
    Name: IntelliJ IDEA darcula theme
    From IntelliJ IDEA by JetBrains
 */

.cm-s-darcula  { font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;}
.cm-s-darcula.CodeMirror { background: #1E1E1E; color: #ffffff; z-index: 0; } 

.cm-s-darcula span.cm-meta { color: #BBB529; }
.cm-s-darcula span.cm-number { color: #B5CEA8; }
.cm-s-darcula span.cm-keyword { color: #C586C0; }  
.cm-s-darcula span.cm-def { color: #DCDCAA; }
.cm-s-darcula span.cm-variable { color: #8CDCFE; }
.cm-s-darcula span.cm-variable-2 { color: #009dff; }
.cm-s-darcula span.cm-variable-3 { color: #cc6fff; }
.cm-s-darcula span.cm-type { color: #4EC9B0; }
.cm-s-darcula span.cm-property { color: #FFC66D; }
.cm-s-darcula span.cm-operator { color: #ffffff; }
.cm-s-darcula span.cm-string { color: #CE9178; }
.cm-s-darcula span.cm-string-2 { color: #CE9178; }
.cm-s-darcula span.cm-comment { color: #6A9955; } 
.cm-s-darcula span.cm-link { color: #370000; }
.cm-s-darcula span.cm-atom { color: #569CD6; }
.cm-s-darcula span.cm-error { color: #BC3F3C; }
.cm-s-darcula span.cm-tag { color: #629755; font-weight: bold; font-style: italic; text-decoration: underline; }
.cm-s-darcula span.cm-attribute { color: #6897bb; }
.cm-s-darcula span.cm-qualifier { color: #35d620; }
.cm-s-darcula span.cm-bracket { color: #ff0000; }
.cm-s-darcula span.cm-builtin { color: #FF9E59; }
.cm-s-darcula span.cm-special { color: #FF9E59; }

.cm-s-darcula .CodeMirror-cursor { border-left: 1px solid #ffffff; }  
.cm-s-darcula .CodeMirror-activeline-background { background: #6666664d; } 
.cm-s-darcula .CodeMirror-gutters { background: #1E1E1E; border-right: 1px solid #1E1E1E; } 
.cm-s-darcula .CodeMirror-guttermarker { color: #FFEE80; }  
.cm-s-darcula .CodeMirror-guttermarker-subtle { color: #D0D0D0; }  
.cm-s-darcula .CodeMirrir-linenumber { color: #606366; } 
.cm-s-darcula .CodeMirror-matchingbracket { background-color: #3B514D; color: #FFEF28 !important; font-weight: bold; } 

.cm-s-darcula div.CodeMirror-selected { background: #314D67; }  

.CodeMirror-hints.darcula {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #9C9E9E;
  background-color: #3B3E3F !important;
}

.CodeMirror-hints.darcula .CodeMirror-hint-active {
  background-color: #494D4E !important;
  color: #9C9E9E !important;
}
